In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [6]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
march = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 3).all()

In [7]:
#  3. Convert the June temperatures to a list.
march_temps = list(march)

In [8]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
march_temps_df = pd.DataFrame(march_temps, columns=['date', 'March Temps'])
March_temps_df = march_temps_df.set_index(march_temps_df['date'], inplace=False)
print(march_temps_df)

            date  March Temps
0     2010-03-01         70.0
1     2010-03-02         72.0
2     2010-03-03         73.0
3     2010-03-04         70.0
4     2010-03-05         71.0
...          ...          ...
1688  2017-03-26         72.0
1689  2017-03-27         74.0
1690  2017-03-28         69.0
1691  2017-03-29         69.0
1692  2017-03-31         76.0

[1693 rows x 2 columns]

In [9]:
# 5. Calculate and print out the summary statistics for the March temperature DataFrame.
march_temps_df.describe()

       March Temps
count  1693.000000
mean     70.059067
std       3.845271
min      56.000000
25%      68.000000
50%      70.000000
75%      73.000000
max      82.000000

## D2: Determine the Summary Statistics for December

In [10]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
october = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 10).all()

In [11]:
# 7. Convert the December temperatures to a list.
oct_temps = list(october)

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
oct_temps_df = pd.DataFrame(oct_temps, columns=['date', 'October Temps'])
oct_temps_df = oct_temps_df.set_index(oct_temps_df['date'], inplace=False)

In [13]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
oct_temps_df.describe()

       October Temps
count    1556.000000
mean       75.391388
std         3.545084
min        64.000000
25%        73.000000
50%        76.000000
75%        78.000000
max        86.000000